// 颜色
$accentColor = #F60 //默认主题颜色
//$textColor = #2c3e50
//$borderColor = #eaecef
//$codeBgColor = #282c34
//$arrowBgColor = #ccc
$badgeTipColor = #F93
//$badgeWarningColor = darken(#ffe564, 35%)
//$badgeErrorColor = #DA5961

// 布局
//$navbarHeight = 3.6rem
$sidebarWidth = 16rem
//$contentWidth = 740px
//$homePageWidth = 960px

// 响应式变化点
//$MQNarrow = 959px
//$MQMobile = 719px
//$MQMobileNarrow = 419px


.badge.tip[data-v-0acecdfc], .badge.green[data-v-0acecdfc] {
  background-color: #f93;
}