// 颜色
$accentColor = #F60 //默认主题颜色
//$textColor = #2c3e50
//$borderColor = #eaecef
//$codeBgColor = #282c34
//$arrowBgColor = #ccc
$badgeTipColor = #F93
//$badgeWarningColor = darken(#ffe564, 35%)
//$badgeErrorColor = #DA5961

// 布局
//$navbarHeight = 3.6rem
$sidebarWidth = 16rem
$contentWidth = 100%
//$homePageWidth = 960px

// 响应式变化点
//$MQNarrow = 959px
//$MQMobile = 719px
//$MQMobileNarrow = 419px


.badge.tip[data-v-098332df], .badge.green[data-v-098332df] {
  background-color: #f93;
}
.custom-block.warning a {
  color: #f60;
}

div.panelHeader.pdl {
  border: 1px solid #dfe1e5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: left;
  padding: 5px 15px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  margin-bottom: -20px;
  z-index: 19;
}
@media (max-width: 419px){
  div.panelHeader.pdl {
    margin: 0 -1.5rem -20px;
    border-radius: 0;
  }
  .relative-table{
    margin: 0 -1.5rem;
  }
}
.mt1{
  margin-top 1em;
}
